---
import { AppleLogo, GoogleLogo, TeslaLogo, VectornatorLogo } from '@assets/business-logos';
import { LocationIcon } from '@assets/icons';
import StepIconWrapPrimary from './StepIconWrapPrimary.astro';
import StepIconWrapSecondary from './StepIconWrapSecondary.astro';
const experiences = [
  {
    time: 'Jul 20 - Jan 2022',
    location: 'Cupertino',
    BusinessLogo: AppleLogo,
    company: 'Apple',
    role: 'Product designer',
    description:
      'Omnis minima inventore minus. Aut et incidunt. Aut fugiat culpa illum optio dolorum aut maxime ipsa. Laborum incidunt enim consectetur perspiciatis. Dolore ullam dolor impedit dolorum recusandae facilis quo et. Et ipsam vel sunt qui ut officia voluptatem.',
  },
  {
    time: 'Oct 2015 - Mar 2020',
    location: 'Austin',
    BusinessLogo: TeslaLogo,
    company: 'Tesla',
    role: 'UX designer',
    description:
      'Commodi atque sit ut qui assumenda earum aperiam occaecati voluptates. Fuga quas aut soluta nostrum et beatae. Maiores repudiandae quibusdam autem enim ut in possimus ad.',
  },
  {
    time: 'Sep 2014 - Aug 2015',
    location: 'Mountain View',
    BusinessLogo: GoogleLogo,
    company: 'Google',
    role: 'Design system architect',
    description:
      'Ut molestias animi. Neque voluptate velit corporis adipisci voluptate et qui sed neque. Inventore eos non. Qui eveniet quo incidunt nemo.',
  },
  {
    time: 'Sep 2010 - Jul 2013',
    location: 'Berlin',
    BusinessLogo: VectornatorLogo,
    company: 'Vectornator',
    role: 'Design system architect',
    description:
      'Non in fugiat aut consequatur deleniti. Consequuntur impedit modi asperiores impedit ut ea aut eligendi doloremque. Fugit laborum ducimus hic tempore velit. Sed vitae et corrupti omnis temporibus. Unde voluptas quaerat ea rerum aspernatur autem assumenda animi fugit. Omnis laborum velit voluptatum similique accusantium eveniet voluptatem.',
  },
];
---

<section class="flex gap-4">
  <StepIconWrapPrimary />
  <div class="flex w-full flex-col gap-4">
    <h2 class="leading-16px tracking-0.12px font-outfit text-2xl font-bold text-gray-lightest">
      Experience
    </h2>
    <ul class="flex flex-wrap gap-4 pb-6">
      {
        experiences.map((experience) => (
          <li class="group flex w-full gap-8">
            <StepIconWrapSecondary />
            <div class="flex w-full justify-between gap-2 text-gray-light">
              <div class="flex flex-col gap-2">
                <p class="flex flex-wrap items-center gap-4 leading-[0]">
                  <span>{experience.time}</span>
                  <span>
                    <span class="sr-only">on</span>
                    <LocationIcon aria-label="" />
                    {experience.location}
                  </span>
                </p>
                <p class="flex flex-wrap items-center gap-4">
                  <experience.BusinessLogo aria-label="" class="h-20 w-20" />
                  <span class="flex flex-col gap-2">
                    <span>{experience.role}</span>
                    <span class="text-gray-lightest">
                      <span class="sr-only">in</span> {experience.company}
                    </span>
                  </span>
                </p>
              </div>
              <p class="max-w-md">{experience.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
