---
import { FigmaIcon, WebsiteIcon } from '@assets/icons';
import figmaImage from '@assets/projects/figma-project.png'; // You'll need to add your image to the assets folder
import modernImage from '@assets/projects/modern-website-project.png';
import { Image } from 'astro:assets';
import StepIconWrapPrimary from './StepIconWrapPrimary.astro';
const projects = [
  {
    aHref: '#',
    image: figmaImage,
    imageAlt: 'Powerful Design System',
    title: 'Powerful Design System',
    description: 'Figma UI Kit and Design System targeting a wide variety of use cases.',
    link: 'https://figma.com',
    Icon: FigmaIcon,
  },
  {
    aHref: '#',
    image: modernImage,
    imageAlt: 'Modern Website',
    title: 'Modern Website',
    description: 'Powerful website + dashboard template for your next Chakra UI project.',
    link: 'https://ui-8.net',
    Icon: WebsiteIcon,
  },
];
---

<section class="flex gap-4">
  <StepIconWrapPrimary />
  <div class="flex flex-col gap-4">
    <h2 class="leading-16px tracking-0.12px font-outfit text-2xl font-bold text-gray-lightest">
      Latest Projects
    </h2>
    <ul class="flex flex-wrap gap-1 pb-6">
      {
        projects.map((project) => (
          <li class="odd:rounded-l-lg even:rounded-r-lg">
            <a
              href={project.aHref}
              class="flex h-full w-full max-w-md flex-col gap-2 rounded-[inherit] bg-gray-darker p-3"
            >
              <div class="flex items-center justify-center gap-2">
                <Image
                  src={project.image}
                  width={48}
                  height={48}
                  alt={project.imageAlt}
                  densities={[1, 2, 3]}
                  format="webp"
                  class="rounded-md"
                />
                <hgroup>
                  <h3 class="font-mono text-xl font-bold leading-10 text-gray-lightest">
                    {project.title}
                  </h3>
                  <p class="tracking-0.07 font-mono text-base font-normal leading-9 text-gray-light">
                    {project.description}
                  </p>
                </hgroup>
              </div>
              <p class="flex items-center gap-2 font-sans text-sm font-bold leading-10 text-secondary-light">
                <span class="inline-flex h-4 w-4 items-center justify-center rounded-full bg-secondary-dark">
                  <project.Icon height="16" width="16" />
                </span>
                {project.link}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
